.TitleSCard{
    font-family: komu-a, sans-serif;
font-size: 40px;     
}
    
.activeStile{
background-color: #F9D202
}


.activeStr{
border: 3px solid black;
}


.activeStrd{
filter: brightness(0);
}


